<div class="--section container">
  <div class="top-container">
    <div>
      <h1 class="title --gray100">Hi, I'm Simon 👋</h1>
      <p class="desc --gray100">
        Fullstack Developer & AI Engineer | Tech Lead
      </p>
    </div>
    <img class="pp" src="assets/img/pp.png" alt="profile" />
  </div>
  <div>
    <h1 class="--h1 --lh_5 --gray100">About</h1>
    <p class="--p --gray70">
      I’m a
      <span class="--gray100">Fullstack Developer & AI Engineer</span>
      passionate about building
      <span class="--gray100">scalable, intelligent applications</span> that
      enhance user experiences through AI and automation. With expertise in
      <span class="--gray100">backend and frontend development</span>, I design
      and develop
      <span class="--gray100">robust, high-performance systems</span>,
      integrating modern web technologies and cloud infrastructure.
    </p>
    <p class="--p --gray70">
      Currently, as a <span class="--gray100">Tech Lead</span>, I oversee the
      <span class="--gray100">architecture and development</span> of fullstack
      applications, ensuring
      <span class="--gray100"
        >scalability, maintainability, and performance</span
      >. My work spans
      <span class="--gray100">Angular, React Native, Java, Python</span>, and
      cloud services such as <span class="--gray100">AWS</span>, combining
      AI-driven automation with solid software engineering principles.
    </p>
    <p class="--p --gray70">
      Beyond development, I enjoy
      <span class="--gray100">mentoring and knowledge sharing</span>. I actively
      give <span class="--gray100">presentations to interns</span>, sharing
      insights and best practices to help them grow as developers. Whether
      through <span class="--gray100">code reviews, pair programming</span>, or
      <span class="--gray100">guiding team members</span>, I thrive in
      <span class="--gray100">collaborative environments</span> where innovation
      and best practices drive development.
    </p>
    <p class="--p --gray70">
      Always eager to <span class="--gray100">push the boundaries</span> of
      <span class="--gray100">fullstack development and AI</span>, I
      continuously explore new technologies, frameworks, and architectures to
      build the next generation of intelligent applications.
    </p>
  </div>
</div>
