@import "../../../styles.scss";

.container {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1.25rem;
  background-color: transparent;

  .outline {
    background-color: var(--gray-low);
    border-radius: 5rem;
    padding-inline: 1rem;
    padding-block: 0.125rem;
    display: flex;
    opacity: 0.7;

    .v-sep {
      width: 1px;
      height: 3rem;
      justify-self: center;
      align-self: center;
      background-color: var(--gray50);
      margin: 0.125rem;
    }

    a {
      margin: 0;
      width: 1.25rem;
      height: 1.25rem;
      padding-block: 1.125rem;
      background-color: var(--gray-low);
      padding: 1.125rem;
      border-radius: 2rem;
      cursor: pointer;
    }

    a:hover {
      background-color: var(--gray0);
      transition: linear 0.1s;

      .icon {
        background-color: var(--gray0);
        transition: linear 0.1s;
      }
    }

    .icon {
      background-color: var(--gray-low);
      width: 1.25rem;
      aspect-ratio: 1;
    }
  }

  .outline:hover {
    opacity: 1;
    transition: linear 0.1;
  }
}
