<div class="container">
  <div class="outline">
    <a href="">
      <img class="icon" [src]="getIcon('home.png')" alt="home" />
    </a>
    <div class="v-sep"></div>
    <a href="https://www.linkedin.com/in/simon-nemo/" target="_blank">
      <img class="icon" [src]="getIcon('linkedin.png')" alt="linkedin" />
    </a>
    <a href="https://github.com/simje71380" target="_blank">
      <img class="icon" [src]="getIcon('github.png')" alt="github" />
    </a>
    <div class="v-sep"></div>
    <a (click)="toggleTheme()">
      <img class="icon" [src]="getIcon('theme.png')" alt="theme" />
    </a>
  </div>
</div>
