<app-header></app-header>
<div class="main-container">
  <section id="about">
    <app-about></app-about>
  </section>
  <section id="xp" class="section-container">
    <app-section-header
      sectionTitle="Experience & Education"
      title="Experience & Education"
      desc="Here's a summary of my professional journey and educational background in software development."
    ></app-section-header>
    <app-experience></app-experience>
    <app-education></app-education>
    <app-certification></app-certification>
  </section>
  <section id="projects">
    <app-section-header
      sectionTitle="My Projects"
      title="Featured Projects"
      desc="I build projects from 0 to 1, turning ideas into reality. Take a look at some of my favorite projects below."
    />
  </section>
  <section id="contact">
    <app-section-header
      sectionTitle="Contact"
      title="Get in Touch"
      desc="Let's connect! Feel free to reach out via <a style='color: $gray100' href='https://www.linkedin.com/in/simon-nemo/ target=\'_blank\'>LinkedIn</a> and I'll get back to you as soon as I can."
    />
  </section>
</div>
