@import "../../../styles.scss";

.container {
  padding-top: 5rem;
  align-items: center;
  text-align: center;

  .section-title {
    background-color: var(--gray100);
    color: var(--gray0);
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    border-radius: 0.5rem;
    margin: 0px;
  }

  .title {
    font-size: 3rem;
    letter-spacing: -0.05em;
    margin: 0px;
  }

  .desc {
    font-size: 1.25rem;
    line-height: 1.625;
    margin: 0;
  }
}

::ng-deep .desc a {
  color: var(--gray100);
}
