/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Inter", sans-serif;
  background-color: var(--gray0);
}

:root {
  --gray100: hsl(0, 0%, 0%);
  --gray70: hsl(0, 0%, 30%);
  --gray50: hsl(0, 0%, 50%);
  --gray30: hsl(0, 0%, 70%);
  --gray10: hsl(0, 0%, 90%);
  --gray0: hsl(0, 0%, 100%);
  --gray-low: hsl(0, 0%, 90%);

  --filter-theme: invert(0%) sepia(100%) saturate(16%) hue-rotate(246deg)
    brightness(98%) contrast(105%);
}

.dark-theme {
  --gray100: hsl(0, 0%, 100%);
  --gray70: hsl(0, 0%, 70%);
  --gray50: hsl(0, 0%, 50%);
  --gray30: hsl(0, 0%, 30%);
  --gray10: hsl(0, 0%, 10%);
  --gray0: hsl(0, 0%, 0%);
  --gray-low: hsl(0, 0%, 30%);

  --filter-theme: invert(100%) sepia(99%) saturate(0%) hue-rotate(314deg)
    brightness(107%) contrast(100%);
}

.--h1 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.4em;
  color: var(--gray100);
}

.--h2 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--gray100);
}

.--p {
  font-size: 0.875rem;
  line-height: 1.25em;
}

.--p2 {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--gray70);
}

.--gray100 {
  color: var(--gray100);
}

.--gray70 {
  color: var(--gray70);
}

.--gray50 {
  color: var(--gray50);
}

.--gray30 {
  color: var(--gray30);
}

.--gray0 {
  color: var(--gray0);
}

.--lh1 {
  line-height: 1em;
}

.--lh_5 {
  line-height: 0.5em;
}

.--h_center {
  display: flex;
  justify-content: center;
}

.--logo {
  border-radius: 50%;
  border-width: 1px;
  padding: 5px;
  border-color: var(--gray-low);
  border-style: solid;
  max-width: 40px;
  max-height: 40px;
  aspect-ratio: 1;
  object-fit: contain;
  background-color: white;
}

.--v_center {
  display: flex;
  align-items: center;
}

.--row {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.--col {
  display: flex;
  flex-direction: column;
}

.--section {
  display: flex;
  flex-direction: column;
  justify-items: baseline;
  align-items: baseline;
  width: 65ch;
}
